#app {
  font-family: Ephesis, Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;

  background-color: #000000;
  -webkit-font-smoothing: antialiased;
  backface-visibility: hidden;

}

$backColor: #9370db;
// $textFont: 'Poppins', sans-serif;
$textFont: 'Montserrat', sans-serif;
$width: 250px;
$height: 200px;

@mixin verticalCenter {
  position: absolute;
  top: 50%;
  transform: translate(0, -50%);

  left: 0;
}

@mixin cardSize {
  width: $width;
  height: $height;
  padding: 10px;
  margin: 20px;
}

canvas {
  outline: none;
  border: none;
  width: 100%;
  height: 100%;
  display: block;
}

html,
body {
  margin: 0;
  height: 100%;
}

#my-nav-bar {
  z-index: 2;
}

.hidden {
  display: none;
}

.floating {
  position: fixed;
  color: white;

  user-select: none;
  z-index: 1;

  border: black 1px solid;
}

#desc {
  @include cardSize;
  
  font-size: 50px;
  font-style: italic;

  background-color: $backColor;

  div {
    @include verticalCenter;
    margin-right: 10px;
  }
}

#about-me {
  @include cardSize;
  
  font-family: $textFont;
  font-size: 20px;
  
  background-color: $backColor;
  
  div {
    @include verticalCenter;
    margin: 0 10px;
  }
}

#projects {
  @include cardSize;

  font-family: $textFont;
  font-size: 25px;

  background-color: $backColor;

  margin-bottom: 7.5px;

  div {
    margin-top: 15px;
    font-size: 18px;
  }

  p {
    margin: 0;
    padding-bottom: 12px;
    border-bottom: white 1px solid;
  }

  ul {
    margin-top: 15px;
    text-align: left;
    list-style-position: inside;
  }

  li {
    margin: 3px;
  }

  a {
    margin: 7.5px;
  }
}

#contact {
  @include cardSize;

  font-family: $textFont;
  font-size: 30px;

  background-color: $backColor;

  .flex {
    justify-content: space-evenly;
    border-top: 1px solid white;
    padding-top: 10px;
  }

  div {
    font-size: 20px;
    margin: 10px;
  }
}

.v-center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 88%;
}

.flex {
  display: flex;
}

#top {
  @include cardSize;
  background-color: $backColor;
  height: 246px;
  width: calc($width - 4px);

  background-image: url("assets/meow.JPG");
  background-size: cover;
  border: white 1px solid;
  color: white;
  font-size: 20px;
}

#bot {
  @include cardSize;
  background-color: $backColor;
  height: 250px;
  color: white;
  font-size: 20px;
}

// ===== tut =====

#hint {
  font-family: "Courier New", Courier, monospace;
  position: fixed;
  bottom: 0;
  font-size: 15px;
  padding: 10px;
  margin: 5px;
  border: #9effff 2px solid;
  background-color: #c4ffff;
  border-radius: 10px;
  
  user-select: none;
}

// ===== controls =====

#my-nav-bar {
  left: 50%;
  transform: translate(-50%, 0);

  display: flex;
  position: fixed;
  top: 0;
}

.my-nav-links {
  font-size: 15px;
  padding: 10px;
  margin: 5px;
  font-family: "Courier New", Courier, monospace;
  
  cursor: pointer;

  border: #9effff 2px solid;
  background-color: #c4ffff;
  border-radius: 10px;

  user-select: none;
}

// ============= links ===================

a:link {
  color: white;
  background-color: transparent;
  text-decoration: none;
}

a:visited {
  color: white;
  background-color: transparent;
  text-decoration: none;
}

a:hover {
  color: orange;
  background-color: transparent;
  text-decoration: underline;
}


// ============== loading screen =================

#loading-screen {
  position: absolute;
  z-index: 2;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #000000;
  opacity: 1;
  transition: 1s opacity;
}

#loading-screen.fade-out {
  opacity: 0;
}

#loader {
  display: block;
  position: relative;
  left: 50%;
  top: 50%;
  width: 150px;
  height: 150px;
  margin: -75px 0 0 -75px;
  border-radius: 50%;
  border: 3px solid transparent;
  border-top-color: #9370db;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
}
#loader:before {
  content: "";
  position: absolute;
  top: 5px;
  left: 5px;
  right: 5px;
  bottom: 5px;
  border-radius: 50%;
  border: 3px solid transparent;
  border-top-color: #ba55d3;
  -webkit-animation: spin 3s linear infinite;
  animation: spin 3s linear infinite;
}
#loader:after {
  content: "";
  position: absolute;
  top: 15px;
  left: 15px;
  right: 15px;
  bottom: 15px;
  border-radius: 50%;
  border: 3px solid transparent;
  border-top-color: #ff00ff;
  -webkit-animation: spin 1.5s linear infinite;
  animation: spin 1.5s linear infinite;
}
@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

// iframe
iframe {
  height: 85%;
  width: 60%;
  border: white 5px solid;
}

// stars 

.stars, .twinkling, .clouds, #stars {
  position:absolute;
  top:0;
  left:0;
  right:0;
  bottom:0;
  width:100%;
  height:100%;
  display:block;
}

.stars {
  background:#000 url(assets/stars.png) repeat top center;
  z-index:0;
}

.twinkling{
  background:transparent url(assets/twinkling.png) repeat top center;
  z-index:1;

  -moz-animation:move-twink-back 200s linear infinite;
  -ms-animation:move-twink-back 200s linear infinite;
  -o-animation:move-twink-back 200s linear infinite;
  -webkit-animation:move-twink-back 200s linear infinite;
  animation:move-twink-back 200s linear infinite;
}

@keyframes move-twink-back {
  from {background-position:0 0;}
  to {background-position:-10000px 5000px;}
}
@-webkit-keyframes move-twink-back {
  from {background-position:0 0;}
  to {background-position:-10000px 5000px;}
}
@-moz-keyframes move-twink-back {
  from {background-position:0 0;}
  to {background-position:-10000px 5000px;}
}
@-ms-keyframes move-twink-back {
  from {background-position:0 0;}
  to {background-position:-10000px 5000px;}
}